<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BadmintonPlayerRanking</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="UpdatePlayer">
                <span class="oi oi-project" aria-hidden="true"></span> Update Player
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PlayerRanking">
                <span class="oi oi-person" aria-hidden="true"></span> Edit Player Ranking
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CreatePlayer">
                <span class="oi oi-plus" aria-hidden="true"></span> Create Player
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ClubDetails">
                <span class="oi oi-plus" aria-hidden="true"></span> Club Details
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TournamentDetails">
                <span class="oi oi-plus" aria-hidden="true"></span> Tournament Details
            </NavLink>
        </div>
        
                
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
