@page "/"

<PageTitle>Index</PageTitle>

<h2>Hello there</h2>

<br>

<h4>
    Welcome to Badminton Ranking app.  We are using a Blazor application hosted on Microsft Azure. <br>
    This is a testing app that is under development.
</h4>

<br>

<p class="h6">
    This is an SQL ConnectionString string from @SQLDbConnection
</p>

